@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    background: rgb(255, 255, 255);
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .pl-clamp-padding {
        padding-left: clamp(24px, 24px + 100vw - 1080px, 40px);
    }

    .shadow-custom-inset {
        box-shadow: rgb(242, 242, 242) 0px -1px 0px inset;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes popIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

.animate-popIn {
    animation: popIn 0.3s ease-out;
}

.animate-popOut {
    animation: popOut 0.3s ease-in;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

.animate-zoomIn {
    animation: zoomIn 0.3s ease-out;
}

.animate-zoomOut {
    animation: zoomOut 0.3s ease-in;
}

.animate-pop {
    animation: pop 0.6s ease-out;
}
